#ã€€Data Science Tools and Ecosystem

In Objectives:this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b><br>
<ul>1. Popular Languages Data Scientist use<br>
    2. Libraries Used By Data Scientist<br>
    3. Data Scientist Tools<br>
    4. Evaluate arithmetic expressions in Python<br></ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. SciKit-Learn
4. Pandas

| Data Science Tools|
| --- |
| Jupyter Notebook |
| Apache Spark |
| Matplotlib |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 60
minutes/ hours

3.3333333333333335

## Author
Ashley